<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appender >
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d - %C[%M] -(%p) - %m  %n </Pattern>
			</PatternLayout>
		</Console>
		<File name="LogToFile" filename="logs/logs.log">
			<PatternLayout>
				<Pattern>%d - %C[%M] -(%p) - %m  %n </Pattern>
			</PatternLayout>
		</File>
	</Appender>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="LogToConsole" />
			<AppenderRef ref="LogToFile" />
		</Root>
	</Loggers>
</Configuration> 